.start {
	text-align: center;
	color: red;
	font-size: 80px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
}

.tehai {
	text-align: center;
	width: 80vw;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.tehai img {
	width: 50px;
}
